<!DOCTYPE html>
<html>
  <head>
    <!-- Add this line to your HTML file to import Bootstrap CSS -->
`<!-- Add this line to your HTML file to import Bootstrap CSS -->
  <link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
  />


    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SharePlay SignUp</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link rel="stylesheet" type="text/css" href="{% static "css/signUp.css" %}"
    />
  </head>
  <body>
    {% csrf_token %}
    <div id="main">
      <div id="app"></div>
    </div>

    <script src="{% static "frontend/SignUp.js" %}"></script>
  </body>
</html>